{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="form-container">
    <h2>Register</h2>
    <form method="POST" action="{% url 'account:register' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="matchEmail">Confirm Email:</label>
        <input type="email" id="matchEmail" name="matchEmail" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="matchpassword">Confirm Password:</label>
        <input type="password" id="matchpassword" name="matchpassword" required>
        <label for="birth_date">Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" required>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select>
        <label for="bio">Bio:</label>
        <textarea id="bio" name="bio" maxlength="500"></textarea>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <button class="form-button" type="submit">Register</button>
    </form>
</div>
{% endblock %}
