/* Light and Dark Mode Styles */
:root {
    --background-light: #ffffff;
    --text-light: #333333;
    --background-dark: #1e1e1e;
    --text-dark: #ffffff;
    --primary-color: #38b4c5;
    --secondary-color: #6c757d;
    --error-color: #dc3545;
    --input-bg-light: #f8f9fa;
    --input-bg-dark: #333333;
    --input-border-light: #ced4da;
    --input-border-dark: #555555;
}

body {
    background-color: var(--background-light);
    color: var(--text-light);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Common Transitions */
.transition-all {
    transition: all 0.3s ease-in-out;
}



footer {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Ocupa a largura total da tela */
    padding: 20px 0; /* Adiciona um espaçamento interno */
    background-color: var(--background-light); /* Cor de fundo */
    color: var(--text-light); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    border-top: 1px solid var(--input-border-light); /* Borda superior (opcional) */
}

.dark-mode footer {
    background-color: var(--background-dark); /* Cor de fundo no modo escuro */
    color: var(--text-dark); /* Cor do texto no modo escuro */
    border-top: 1px solid var(--input-border-dark); /* Borda superior no modo escuro */
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-form input,
.search-form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}
