<header>
    <nav>
        <ul>
            <li><a href="{% url 'project:home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'account:logout' %}">Logout</a></li>
                <li><a href="{% url 'account:update' %}">Perfil</a></li>
            {% else %}
                <li><a href="{% url 'account:login' %}">Login</a></li>
                <li><a href="{% url 'account:register' %}">Registrar</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
